{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'bootstrap/dist/css/bootstrap.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'style.css' %}" rel="stylesheet" media="screen">
    <title>Первокиллер v2.0</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/png">
</head>
<body>
<div class="bg"></div>


<main class="container container--mw700">
  {% block content %}
  {% endblock %}

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Уведомления</h4>
      </div>
      <div class="modal-body">
        <p>У вас нет новых уведомлений</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>

  </div>
</div>
</main>
<script src="{% static 'utils/jquery.min.js' %}"></script>
<script src="{% static 'utils/utils.js' %}"></script>
<script data-pace-options='{ "ajax": false }' src="{% static 'pace.min.js' %}"></script>
<script>$('#alert-failed').delay(3000).hide(500);</script>
<script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
</body>
</html>