{% extends 'profile_base.html' %}
{% load staticfiles %}
  
{% block profile_content %}
<!-- center -->
<div class="col-sm-6 text-left">
  {% if error_message %}
    <div id="alert-failed" class="alert alert-danger alert-dismissable fade in"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ error_message }}</div>
  {% endif %}
  <div class="panel panel-primary content">
    <div class="panel-body">
      <form method="post" class="form-horizontal" enctype="multipart/form-data">
      <!-- {{ form.management_form }} -->
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group">
        <label class="control-label" for="id_{{ field.name}}">{{ field.label }}:</label>
        <div class="col-sm-12">
          {{ field }}
          {% for error in field.errors %}
          <p class="bg-danger text-left" style="margin-top: 5px;color: #a94442"> <span class="glyphicon glyphicon-exclamation-sign" style="margin-left: 5px;"></span> {{ error }}</p>
          {% endfor %}
          </div>
        </div>
      {% endfor %}
      <div class="form-group">
        <div class="col-sm-offset-1">
          <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>
<!-- end of center -->
{% endblock %}
