{% extends 'base.html' %}
{% load staticfiles %}
  
{% block content %}
<!-- Navigation -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="/"><img src="{% static 'images/favicon.png' %}">Первокиллер</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav comp-nav">
        <li><a href="/rules">Правила</a></li>
        <li><a href="/nominations">Номинации</a></li> 
        <li><a href="/statistics">Статистика</a></li> 
      </ul>
      <ul class="nav navbar-nav comp-nav1 navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Регистрация</a></li>
        <li><a href="/"><span class="glyphicon glyphicon-log-in"></span> Войти</a></li>
      </ul>
    </div>
  </div>
</nav>
<h1>{{ username }}</h1>
{% endblock %}