{% extends 'base.html' %}
{% load staticfiles %}
  
{% block content %}
<!-- Navigation -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="{% if user.is_authenticated %}{% url 'profile' %}{% else %}/{% endif %}"><img src="{% static 'images/favicon.png' %}">Первокиллер</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav comp-nav">
        <li><a href="{% url 'rules' %}">Правила</a></li>
        <li><a href="{% url 'nominations' %}">Номинации</a></li>
        <li><a href="{% url 'statistics' %}">Статистика</a></li>
      </ul>
      <ul class="nav navbar-nav comp-nav1 navbar-right">
        {% if user.is_authenticated %}
        {% if user.is_staff %}
        <li><a href="/admin"><span class="glyphicon glyphicon glyphicon-wrench"></span> База данных</a></li>
        {% endif %}
        <li><a href="#">Уведомления <span class="badge">0</span></a></li>
        <li class="active"><a href="{% url 'profile' %}"><span class="glyphicon glyphicon-user"></span>{{ user.username }}</a></li>
        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Выйти</a></li>
        {% else %}
        <li class="active"><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Войти</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
{% if error_message %}
  <div id="alert-failed" class="alert alert-danger alert-dismissable fade in"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ error_message }}</div>
{% endif %}
<div class="well content">
  <form method="post" class="form-horizontal">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
        <label class="control-label col-sm-3" for="id_{{ field.name}}">{{ field.label }}:</label>
        <div class="col-sm-8">
        {{ field }}
        {% for error in field.errors %}
        <p class="bg-danger text-left" style="margin-top: 5px;color: #a94442"> <span class="glyphicon glyphicon-exclamation-sign" style="margin-left: 5px;"></span> {{ error }}</p>
        {% endfor %}
        </div>
      </div>
    {% endfor %}
      <div class="form-group">
        <div class="col-sm-offset-1">
        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
      </div>
    </div>
  </form>
</div>
<hr>
<div class="well content">
<footer class="container-fluid text-center">
  <p>Copyright © 2017 by <a href="https://vk.com/id13795993">Dmitry Aleksandrov.</a></p>
  <p>All Rights Reserved.</p>
</footer>
</div>
{% endblock %}